html {
    margin: 5px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

#trash_text {
    margin: auto;
    margin-bottom: 5px;
    width: 60%;
    min-width: 160px;
}

.filter_button {
    display: inline;
    width: 150px;
    padding: 5px;
    margin: 10px;
    background-color: rgba(127, 255, 212);
    font-family: courier;
    font-weight: bold;
    font-size: 20px;
    color: rgb(25, 88, 59);
    border-radius: 15px;
}

.filter_button:hover {
    background-color: rgb(16, 90, 65);
    color: white;
}

@media (max-width: 460px) {
    .filter_button {
        display: block;
    }
}
